@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=amulya@400&f[]=synonym@600,500,400&display=swap');

:root {
  --main-text-color: #010101;
}
body {
  color: var(--main-text-color);
}
.register {
  border-radius: 160px;
  display: flex;
  padding: 10px 21px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #010101 0%, #010101 100%), #090808;
  white-space: nowrap;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  // width: 100%;
  object-fit: cover;
}
